cart
<table class="table" id="">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col"> Product Name</th>
            <th scope="col"> Product Image</th>
            <th scope="col">price</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <% let count=1 %>
            <% productDetails.forEach((product)=>{ %>
                <tr>
                    <th scope="row">
                        <%= count %>
                    </th>
                    <td>
                        <%= product.productId.name %>
                    </td>
                    <td>
                        <img class="col-3" src="<%= product.productId.image %>" alt="">
                    </td>
                    <td>
                        <%= product.productId.price %>
                    </td>
                    <td>
                        <%= product.quantity%>
                    </td>
                    <td>
                        <a href="/cart/edit-cart/<%= product.productId._id %>" class="btn btn-primary">Edit Quantity</a>
                    </td>
                    <td>
                        <a href="/cart/delete/<%= product.productId._id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% count++ %>
                    <% }) %>
    </tbody>
</table>
<a href="/checkout"><button class="btn btn-primary">Proceed to Buy</button></a>