<div class="d-flex justify-content-center my-3">
  <h1>Cart</h1>
</div>

<table class="table" id="">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Image</th>
      <th scope="col">price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% let count=1 %> <% productDetails.forEach((product)=>{ %>
    <tr>
      <th scope="row"><%= count %></th>
      <td><%= product.productId.name %></td>
      <td>
        <img class="col-3" src="<%= product.productId.image %>" alt="" />
      </td>
      <td><%= product.productId.price %></td>
      <td>
        <button
          id="minusButton<%= product.productId._id %>"
          onclick="removeOneProduct('<%= product.productId._id %>')"
        >
          <i class="fa-solid fa-square-minus"></i>
        </button>
        
        <span id="productQuantity<%= product.productId._id %>"
          ><%= product.quantity%></span
        >
        <button onclick="addOneProduct('<%= product.productId._id %>')">
          <i class="fa-solid fa-square-plus"></i>
        </button>
      </td>
      <td>
        <a
          href="/cart/edit-cart/<%= product.productId._id %>"
          class="btn btn-primary"
          >Edit Quantity</a
        >
      </td>
      <td>
        <a
          href="/cart/delete/<%= product.productId._id %>"
          class="btn btn-danger"
          >Delete</a
        >
      </td>
    </tr>
    <% count++ %> <% }) %>
  </tbody>
</table>
<a href="/checkout"><button class="btn btn-primary">Proceed to Buy</button></a>
<script>
   let selectQuantity = document.getElementById("#productQuantity" + productId)
    console.log(selectQuantity.innerText)

  function addOneProduct(productId) {
    $.ajax({
      url: "/add-one/" + productId,
      method: "get",
      success: (response) => {
        if (response.status) {
          $("#minusButton" + productId).prop("disabled", false);
          $("#minusButton" + productId).show();

          let quantity = $("#productQuantity" + response.productId).html();

          quantity = parseInt(quantity) + 1;
          $("#productQuantity" + response.productId).html(quantity);
        }
      },
    });
  }

  function removeOneProduct(productId) {
 
    $.ajax({
      url: "/remove-one/" + productId,
      method: "get",
      success: (response) => {
        let quantity = $("#productQuantity" + productId).html();
        if (response.status) {
          if (parseInt(quantity) <= 2) {
            $("#minusButton" + productId).prop("disabled", true);
            $("#minusButton" + productId).hide();
            quantity = parseInt(quantity) - 1;
            $("#productQuantity" + productId).html(quantity);
          } else {
            $("#minusButton" + productId).prop("disabled", false);
            $("#minusButton" + productId).show();
            quantity = parseInt(quantity) - 1;
            $("#productQuantity" + productId).html(quantity);
          }
        }
      },
    });
  }
</script>
<!-- <script>
  function addToCart(productId) {
    $.ajax({
      url: "/add-to-cart/" + productId,
      method: "get",
      success: (response) => {
        if (response.status) {
          let count = $("#cartCount").html();
          count = parseInt(count) + 1;
          $("#cartCount").html(count);
        }
      },
    });
  }
</script> -->
