<main class="fullScreen">
  <div class="d-flex justify-content-center">
    <h1 class="my-3">Select Address</h1>
  </div>
  <div class="d-flex justify-content-end me-5">
    <a href="/checkout/add-address"
      ><button class="btn btn-primary">Add Address</button></a
    >
  </div>

  <% if(address.length != 0){ %>

  <form id="checkout" class="ps-5">
    <div class="mb-3">
      <label for=""
        >Select Address
        <select name="address" id="" class="d-block" class="form-control">
          <% address.forEach((item)=>{ %>
          <option value="<%= item._id %>">
            <%= item.address_line_1 %>, <%= item.address_line_2 %>, <%=
            item.landmark %>, <%= item.town %>, <%= item.state %>, <%=
            item.pin_code %>
          </option>
          <% }) %>
        </select>
      </label>
    </div>
    <div class="mb-3">
      <label for=""
        >Payment Options
        <select name="payment" id="" class="d-block form-control">
          <option value="cod">Cash on Delivery</option>
          <option value="razorpay">PayTm</option>
          <option value="razorpay">Internet Banking</option>
        </select>
      </label>
    </div>
    <div class="mb-3">
      <label for="">
        Coupon Code
        <input
          type="text"
          name="coupon"
          id=""
          placeholder="Optional"
          class="form-control"
        />
      </label>
    </div>
    <button class="btn btn-primary text-bg-success mb-3" type="submit">
      Check Out
    </button>
  </form>
  <% } %>
</main>
<!-- Ajax library (jquery) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
<script>
  $("#checkout").submit((e) => {
    e.preventDefault();
    $.ajax({
      url: "/checkout/payment",
      method: "post",
      data: $("#checkout").serialize(),
      success: (res) => {
        if (res.status == "cod") {
          location.href = "/payment-success/" + res.order;
        } else if (res.status == "online") {
          var options = {
            key: res.key, // Key ID generated from the Dashboard
            amount: res.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: res.order.currency,
            order_id: res.order.id,
            name: "Roshith",
            handler: function (response) {
              var verifyPayment = $.post("/verify-payment", response);
              verifyPayment.done(function (response) {
                if (response.signatureIsValid == true) {
                  location.href = "/payment-success/" + response.ref_id;
                } else {
                  location.href = "/payment-failed/" + response.ref_id;
                }
              });
            },

            theme: {
              color: "#3399cc",
            },
          };
          // Popup
          var rzp1 = new Razorpay(options);
          rzp1.on("payment.failed", function (response) {
            // alert(response.error.code);
            // alert(response.error.description);
            // alert(response.error.source);
            // alert(response.error.step);
            // alert(response.error.reason);
            // alert(response.error.metadata.order_id);
            // alert(response.error.metadata.payment_id);
            location.href =
              "/payment-failed/" + response.error.metadata.payment_id;
          });
          rzp1.open();
        }
      },
    });
  });
</script>

<!-- <script>
  function dosubmit(){
    fetch('/checkout/payment', {method: 'POST', headers: {
      'Content-Type': 'application/json'
    }, body: JSON.stringify()})
  }
</script> -->
