<main class="fullScreen">
  <h1>Home Page</h1>
  <a href="/logout"><button class="btn btn-primary">logout</button></a>
  <div class="container">
    <div class="row">
      <% products.forEach((product)=>{ %>
      <div class="card" style="width: 18rem;">
        <div>
          <img
            src="<%= product.image %>"
            class="img-fluid"
            style="width: 18rem; height: 18rem"
          />
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <div>
            <h5 class="card-title"><%= product.name %></h5>
          </div>
          <div class="my-3">
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><%= product.price %></p>
          </div>
          <div >
            <a href="/product-info/<%= product._id %>" class="btn btn-primary"
              >View Product</a
            >
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</main>
