<h1>Home Page</h1>
<a href="/logout"><button>logout</button></a>
<div class="container">
    <div class="row">
        <% products.forEach((product)=>{ %>
            <div class="card" style="width: 18rem;">
                <img src="<%= product.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= product.name %>
                    </h5>
                    <p class="card-text">
                        <%= product.description %>
                    </p>
                    <p class="card-text">
                        <%= product.price %>
                    </p>
                    <a href="/product-info/<%= product._id %>" class="btn btn-primary">View Product</a>
                </div>
            </div>
            <% }) %>
    </div>
</div>