<main class="fullScreen">
  <div id="alerts"></div>
  <% info.forEach((info)=>{ %>
    <div class="container">
      <div class="row">
        <div class="col-6 justify-content-center align-items-center  mt-5">
          <img class="col-12" src="/<%= info.image %>" alt="" />
        </div>
        <div class="col-6 mt-5 ">
          <h1>
            <%= info.name %>
          </h1>
          <h2>₹ <%= info.price %>
          </h2>
          <p>
            <%= info.description %>
          </p>
          <button class="btn btn-primary" onclick="addToCart('<%= info._id %>')">
            Add to Cart
          </button>
          <button class="btn btn-primary" onclick="addToWishlist('<%= info._id %>')">
            Add to Wishlist
          </button>
        </div>
      </div>
      <% }) %>
    </div>
</main>