<div class="container">
  <% info.forEach((info)=>{ %>
  <div class="row">
    <div class="col-6">
      <img class="col-6" src="/<%= info.image %>" alt="" />
    </div>
    <div class="col-6">
      <h1><%= info.name %></h1>
      <h2>Rs. <%= info.price %></h2>
      <p><%= info.description %></p>
      <a href="/add-to-cart/<%= info._id %>"
        ><button class="btn btn-primary">Add to Cart</button></a
      >
    </div>
  </div>
  <% }) %>
</div>
