<h1>User profile</h1>
<h2>Personal Details</h2>
<p>Full Name : <%= userData.name %></p>
<p>Email : <%= userData.email %></p>
<p>Phone : <%= userData.phone %></p>
<a href="/orders"><button>Show Orders</button></a>

<a href="/profile/edit-info"><button>Edit personal Details</button></a>

<h1>Your Adresses</h1>
<a href="/profile/add-address"><button>Add new Address</button></a>
<% userData.address.forEach((address)=>{ %>
<hr />
<p><%= address.address_line_1 %></p>
<p><%= address.address_line_2 %></p>
<p><%= address.landmark %></p>
<p><%= address.town %></p>
<p><%= address.state %></p>
<p><%= address.pin_code %></p>
<a href="/profile/edit-address/<%= address._id %>"><button>Edit</button></a>
<hr />
<% }) %>
