<h1>Payment page</h1>
<h2>Shipping Address</h2>
<p>Address line_1: <%= address.address_line_1 %></p>
<p>Address line 2: <%= address.address_line_2 %></p>
<p>landmark: <%= address.landmark %></p>
<p>Town: <%= address.town %></p>
<p>State : <%= address.state %></p>
<p>PIN Code: <%= address.pin_code %></p>
<label for="">Payment Options
     <select name="" id="">
          <option value="cod">Cash on Delivery</option>
          <option value="paytm">PayTm</option>
          <option value="netBanking">Internet Banking</option>
     </select>
</label>
<button>Place order</button>