<h1>Edit product</h1>
<% info.forEach((product)=>{ %>
    <form action="/admin/products/edit-product/<%= product._id %>" method="post">
        <label for="ProductName">Product name
            <input type="text" name="name" id="ProductName" value="<%= product.name %>">
        </label>
        <label for="">Product image link
            <input type="text" name="image" value="<%= product.image %>">
        </label>
        <label for="ProductDes">product description
            <textarea name="description" id=" ProductDes" cols="30" rows="10"
                value=""><%= product.description %></textarea>
        </label>
        <label for="">Price
            <input type="text" name="price" value="<%= product.price %>">
        </label>
        <button type="submit">Submit</button>
    </form>
    <% }) %>