<main class="fullScreen">
<h1>Orders</h1>
<table class="table" id="productTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">order ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% let count=1; %> <% orders.forEach((order)=>{%>
    <tr>
      <td><%= count %></td>
      <td><%= order._id %></td>
      <td><%= order.userId.name %></td>
      <td><%= order.userId.email %></td>
      <td><%= order.payment_method %></td>
      <td><%= order.status %></td>
      <td>
        <a href="/admin/orders/change-status/<%= order._id %>"
          ><button class="btn btn-primary">Change Order Status</button>
        </a>
      </td>
      <td>
        <a href="/admin/orders/cancel/<%= order._id %>"
          ><button class="btn btn-danger">Cancel Order</button>
        </a>
      </td>
    </tr>
    <% count++; %> <% }) %>
  </tbody>
</table>
</main>
